* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
    overflow: hidden;
}

nav {
    background-color: #111;
    padding: 20px 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__item {
    margin-right: 50px;
    color: lightgray;
    font-weight: 400;
    user-select: none;
}

.active, .navbar__item:hover {
    color: #00a7ff;
}

.slider {
    overflow: hidden;
}

.slider__items {
    display: flex;
}

.slider__img {
    width: 100vw;
    height: 100vh;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
    background-color: #111111;
}

.prev:hover, .next:hover {
    color: #00a7ff;
}

.next {
    right: 0;
}

.dot-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
    user-select: none;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
}

.active, .dot:hover {
    border-color: #00a7ff;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}

img {
    transform: scale(1.5, 1.5);
    animation-name: zoom;
    animation-duration: 40s;
}

@keyframes zoom {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
}